
.lst-kix_bvl7hkr0jyhf-3>li:before {
    content: "\0025cf  "
}

.lst-kix_bvl7hkr0jyhf-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_gkt30svct12z-0 {
    list-style-type: none
}

.lst-kix_bvl7hkr0jyhf-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_gkt30svct12z-3 {
    list-style-type: none
}

ul.lst-kix_gkt30svct12z-4 {
    list-style-type: none
}

.lst-kix_bvl7hkr0jyhf-5>li:before {
    content: "\0025a0  "
}

.lst-kix_bvl7hkr0jyhf-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_gkt30svct12z-1 {
    list-style-type: none
}

ul.lst-kix_gkt30svct12z-2 {
    list-style-type: none
}

ul.lst-kix_gkt30svct12z-7 {
    list-style-type: none
}

ul.lst-kix_gkt30svct12z-8 {
    list-style-type: none
}

ul.lst-kix_gkt30svct12z-5 {
    list-style-type: none
}

ul.lst-kix_gkt30svct12z-6 {
    list-style-type: none
}

.lst-kix_gkt30svct12z-1>li:before {
    content: "\0025cb  "
}

.lst-kix_gkt30svct12z-3>li:before {
    content: "\0025cf  "
}

.lst-kix_gkt30svct12z-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_jfk4quu4ej9e-8 {
    list-style-type: none
}

.lst-kix_gkt30svct12z-0>li:before {
    content: "\0025cf  "
}

.lst-kix_gkt30svct12z-8>li:before {
    content: "\0025a0  "
}

.lst-kix_bvl7hkr0jyhf-2>li:before {
    content: "\0025a0  "
}

.lst-kix_bvl7hkr0jyhf-1>li:before {
    content: "\0025cb  "
}

.lst-kix_bvl7hkr0jyhf-0>li:before {
    content: "\0025cf  "
}

.lst-kix_gkt30svct12z-7>li:before {
    content: "\0025cb  "
}

.lst-kix_gkt30svct12z-6>li:before {
    content: "\0025cf  "
}

.lst-kix_gkt30svct12z-5>li:before {
    content: "\0025a0  "
}

.lst-kix_gkt30svct12z-4>li:before {
    content: "\0025cb  "
}

.lst-kix_urjdtkxu317q-6>li:before {
    content: "\0025cf  "
}

.lst-kix_urjdtkxu317q-7>li:before {
    content: "\0025cb  "
}

.lst-kix_urjdtkxu317q-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_jfk4quu4ej9e-0 {
    list-style-type: none
}

ul.lst-kix_jfk4quu4ej9e-1 {
    list-style-type: none
}

.lst-kix_urjdtkxu317q-2>li:before {
    content: "\0025a0  "
}

.lst-kix_urjdtkxu317q-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_jfk4quu4ej9e-2 {
    list-style-type: none
}

ul.lst-kix_jfk4quu4ej9e-3 {
    list-style-type: none
}

ul.lst-kix_jfk4quu4ej9e-4 {
    list-style-type: none
}

ul.lst-kix_jfk4quu4ej9e-5 {
    list-style-type: none
}

.lst-kix_urjdtkxu317q-1>li:before {
    content: "\0025cb  "
}

.lst-kix_urjdtkxu317q-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_jfk4quu4ej9e-6 {
    list-style-type: none
}

ul.lst-kix_jfk4quu4ej9e-7 {
    list-style-type: none
}

.lst-kix_urjdtkxu317q-4>li:before {
    content: "\0025cb  "
}

.lst-kix_jfk4quu4ej9e-2>li:before {
    content: "\0025a0  "
}

.lst-kix_jfk4quu4ej9e-3>li:before {
    content: "\0025cf  "
}

.lst-kix_bvl7hkr0jyhf-8>li:before {
    content: "\0025a0  "
}

.lst-kix_jfk4quu4ej9e-7>li:before {
    content: "\0025cb  "
}

.lst-kix_jfk4quu4ej9e-0>li:before {
    content: "\0025cf  "
}

.lst-kix_jfk4quu4ej9e-1>li:before {
    content: "\0025cb  "
}

.lst-kix_jfk4quu4ej9e-8>li:before {
    content: "\0025a0  "
}

.lst-kix_urjdtkxu317q-0>li:before {
    content: "\0025cf  "
}

.lst-kix_jfk4quu4ej9e-6>li:before {
    content: "\0025cf  "
}

.lst-kix_jfk4quu4ej9e-4>li:before {
    content: "\0025cb  "
}

.lst-kix_jfk4quu4ej9e-5>li:before {
    content: "\0025a0  "
}

.lst-kix_5yog5hyufdfv-5>li:before {
    content: "\0025a0  "
}

.lst-kix_5yog5hyufdfv-7>li:before {
    content: "\0025cb  "
}

.lst-kix_5yog5hyufdfv-4>li:before {
    content: "\0025cb  "
}

.lst-kix_5yog5hyufdfv-8>li:before {
    content: "\0025a0  "
}

.lst-kix_5yog5hyufdfv-1>li:before {
    content: "\0025cb  "
}

.lst-kix_5yog5hyufdfv-3>li:before {
    content: "\0025cf  "
}

.lst-kix_5yog5hyufdfv-2>li:before {
    content: "\0025a0  "
}

.lst-kix_5yog5hyufdfv-6>li:before {
    content: "\0025cf  "
}

.lst-kix_keoz1yhpoynx-2>li:before {
    content: "\0025a0  "
}

.lst-kix_keoz1yhpoynx-4>li:before {
    content: "\0025cb  "
}

.lst-kix_keoz1yhpoynx-3>li:before {
    content: "\0025cf  "
}

.lst-kix_keoz1yhpoynx-0>li:before {
    content: "\0025cf  "
}

.lst-kix_keoz1yhpoynx-1>li:before {
    content: "\0025cb  "
}

.lst-kix_5yog5hyufdfv-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_keoz1yhpoynx-3 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-2 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-1 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-0 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-7 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-6 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-5 {
    list-style-type: none
}

ul.lst-kix_keoz1yhpoynx-4 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-4 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-5 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-6 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-7 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-0 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-1 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-2 {
    list-style-type: none
}

ul.lst-kix_5yog5hyufdfv-3 {
    list-style-type: none
}

.lst-kix_keoz1yhpoynx-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_keoz1yhpoynx-8 {
    list-style-type: none
}

.lst-kix_keoz1yhpoynx-5>li:before {
    content: "\0025a0  "
}

.lst-kix_keoz1yhpoynx-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_bvl7hkr0jyhf-8 {
    list-style-type: none
}

.lst-kix_keoz1yhpoynx-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_5yog5hyufdfv-8 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-5 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-4 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-7 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-6 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-4 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-1 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-5 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-0 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-2 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-3 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-3 {
    list-style-type: none
}

ul.lst-kix_bvl7hkr0jyhf-2 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-0 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-1 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-8 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-6 {
    list-style-type: none
}

ul.lst-kix_urjdtkxu317q-7 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c14 {
    -webkit-text-decoration-skip: none;
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c2 {
    -webkit-text-decoration-skip: none;
    color: #434343;
    font-weight: 700;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c9 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c7 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c12 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c10 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c13 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 56.7pt 72pt 72pt 72pt;
    margin: auto
}

.c6 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c11 {
    padding: 0;
    margin: 0
}

.c1 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}